In [2]:
import duckdb
import os

In [3]:
file_path = 'data/tls_features.parquet'

if os.path.exists(file_path):
    print(f"File found: {file_path}")
else:
    print(f"Error: File not found: {file_path}")

File found: data/tls_features.parquet

In [6]:
con = duckdb.connect(":memory:")

In [ ]:
query = f"""select count(1) from '{file_path}'"""

In [32]:
query = f"""select highest_version_supported from '{file_path}' where domain_name like 'vfx%' limit 5"""

In [ ]:
query = f"""
SELECT count(1) from
    (SELECT visit_id, domain_name FROM '{file_path}' group by visit_id, domain_name)
"""

In [8]:
query = f"""select count(1) from '{file_path}' where connect_ok is True"""

In [10]:
query = f"""
SELECT count(1) from
    (SELECT visit_id, domain_name FROM '{file_path}' where connect_ok is True group by visit_id, domain_name)
"""

In [45]:
query = f"""
SELECT * from
    (SELECT visit_id, domain_name
    FROM '{file_path}'
    where connect_ok
    and highest_version_supported is not Null
    and lowest_version_supported is not NUll
    is True group by visit_id, domain_name)

"""

In [53]:
query = f"""
SELECT high, low, count(1) from
    (SELECT visit_id, domain_name, max(highest_version_supported) as high, max(lowest_version_supported) as low
    FROM '{file_path}'
    where connect_ok
    and highest_version_supported is not Null
    and lowest_version_supported is not NUll
    is True group by visit_id, domain_name) group by high, low
"""

In [54]:
preview_df = con.execute(query).fetchdf()
display(preview_df)

       high      low  count(1)
0   TLSv1.3  TLSv1.2      2643
1   TLSv1.2  TLSv1.2       907
2   TLSv1.3    TLSv1      1589
3   TLSv1.3  TLSv1.1       745
4   TLSv1.1    TLSv1        77
5   TLSv1.1  TLSv1.1        71
6   TLSv1.2    SSLv3         3
7     TLSv1    TLSv1        63
8   TLSv1.2    TLSv1       263
9   TLSv1.2  TLSv1.1       150
10  TLSv1.1    SSLv3         1
11  TLSv1.3  TLSv1.3      2200
12    TLSv1    SSLv3         1